<footer class="bg-white ph3 pv4 orange">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/header.png" alt="Making it with Mega" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Email me about any recipe</p>
			<p>megan.munzek14@gmail.com</p>
			<p>Hope you enjoyed my cooking blog!</p>


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Making it with Mega</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Contact Me</a></li>
				</ul>
			</div>

			<div>


			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
