<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-50 w3 flex-none">
		<img src="/img/header.png" alt="Makingitwmega" class="br0 db mb0 w-50"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/Products" class="pa3 no-underline db">Recipes</a></li>

		<li><a href="/Values" class="pa3 no-underline db">About Me</a></li>

		<li><a href="/Blog" class="pa3 no-underline db">Abou</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
